/* default setting */
p {
  margin-bottom: 10px;
}

.l-height {
  border: 1px solid #333;
  width: 300px;
}

/* 1. font-size */


/* 2. font-family */


/* 3. font-weight */


/* 4. font-style */


/* 5. font-shorthand */


/* 6. text-align */


/* 7. line-height */